@font-face {
  font-family: "iconfont"; /* Project id 2752656 */
  src: url('iconfont.woff2?t=1630215476519') format('woff2'),
       url('iconfont.woff?t=1630215476519') format('woff'),
       url('iconfont.ttf?t=1630215476519') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghufangkeshu:before {
  content: "\e7ad";
}

.icon-tupian:before {
  content: "\e643";
}

.icon-ziyuan:before {
  content: "\e612";
}

.icon-guanji:before {
  content: "\e77b";
}

.icon-wenjian:before {
  content: "\e69f";
}

.icon-baitianmoshimingliangmoshi:before {
  content: "\e632";
}

.icon-vpn:before {
  content: "\eb71";
}

.icon-pad:before {
  content: "\e608";
}

.icon-icon-:before {
  content: "\e60d";
}

.icon-touping:before {
  content: "\e7de";
}

.icon-wangluo-:before {
  content: "\ecc7";
}

.icon-lanya:before {
  content: "\e63e";
}

.icon-swticonshezhitianchong:before {
  content: "\e7b4";
}

.icon-fenxiang:before {
  content: "\e60f";
}

.icon-dingwei:before {
  content: "\e603";
}

.icon-icon-test:before {
  content: "\e609";
}

.icon-yejianmoshishenyemoshiyueliang:before {
  content: "\e624";
}

.icon-di:before {
  content: "\e610";
}

.icon-line-screenshotpingmujietu-01:before {
  content: "\e6ed";
}

.icon-arrow-up-bold:before {
  content: "\e685";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

.icon-xinhao:before {
  content: "\ec4a";
}

.icon-feijichang:before {
  content: "\e623";
}

.icon-dianhua:before {
  content: "\e6c8";
}

.icon-icon_device_xinhao:before {
  content: "\e619";
}

.icon-iconset0251:before {
  content: "\e696";
}

.icon-volume:before {
  content: "\e757";
}

.icon-iconset0252:before {
  content: "\e697";
}

.icon-icon--:before {
  content: "\e747";
}

.icon-search:before {
  content: "\e618";
}

.icon-wuxianwifi:before {
  content: "\e628";
}

.icon-win:before {
  content: "\e64b";
}

